@CHARSET "ISO-8859-1";

.btn-xl {
    padding: 18px 18px;
    font-size: 80px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
     border-width: 90px;
}

.title{
	font-size: 60px;
}

.background{
	background: FF3333;
}