@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Ubuntu'; /*a name to be used later*/
    src: url('//fonts.googleapis.com/css?family=Ubuntu'); /*URL to font*/
}

@font-face {
    font-family: 'inconsolata'; /*a name to be used later*/
    src: url('//fonts.googleapis.com/css?family=Share+Tech+Mono'); /*URL to font*/
}

@font-face {
    font-family: 'Baloo Bhai'; /*a name to be used later*/
    src: url('//fonts.googleapis.com/css?family=Baloo+Bhai'); /*URL to font*/
}



.form-control{
	opacity: 1; !important
}

.mainscreen{
	max-width: 100%;
	max-height: 100%;
	display:block; 
	background: url('img/photography.jpg');
	background-repeat: space;
    background-size: cover;
    min-height: 100%;
  	min-width: 100%;
}

.gouvea{
	max-width: 100%;
	display:block; 
	background: url('img/photography.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

 .gouveahome{
	max-width: 100%;
	display:block; 
	border: none; 
	background: url('img/home.png');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 128px;
    width: 128px;
}

.gouveabrand{
	max-width: 100%;
	display:block; 
	border: none;
	background: url('img/brand.png');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 128px;
    width: 128px;
}


.foot{
	text-align: center;
	vertical-align: bottom;
	font-family: 'Ubuntu', sans-serif;
}

a.footer{
	color: graytext;
	font-size: 25px;
	
}
.inner{
	min-height: 50px;
}
h2.logo{
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	opacity: 1;
}
h1.logo{
	font-size: 60px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	opacity: 1; !important;
}

h1.title{
	font-family: 'Baloo Bhai', cursive;
	color: white;
	font-size: 60px;
}
.row{
	text-align: center;
	font-family: monospace;
}
.jumbotron{
	background-color: transparent; !important;
	background-size: contain;
	min-height: 40px;
	text-align: center;
	
}
.form{
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	display: inline;
	
	color: #FF6347;
}

.form-group{
	opacity: 1;
	background: #FF6347;
	border-style: groove;
	border-color: white;
	border-radius: 30px 30px 30px 30px;
	height: 400px;
	
}
.ranking{
	background: #FF6347;
	border-style: groove;
	border-color: white;
	border-radius: 30px 30px 30px 30px;
	height: 600px;
}

.ranking-firstplace{
	max-width: 100%;
	display:block; 
	border: none;
	background: url('img/firstplace.png');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 128px;
    width: 128px;
}

.navbar-brand{	
	stress: inherit;
	font-size: 40px;
	font-family: ubuntu;
	color: #FFFAFA;
}

.yellow-btn {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 250px;
	height: 250px;
	cursor: pointer;
	margin: 0 auto;
	border: 2px solid rgba(255, 255, 0, 1);
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font: normal 50px/250px "Advent Pro", Helvetica, sans-serif;
	color: rgba(255, 255, 0, 1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
		color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s
		cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0),
		border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s
		cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
}

.yellow-btn:hover {
	color: rgba(255, 255, 255, 1);
	letter-spacing: 10px;
	background: rgba(255, 255, 0, 1);
}

.yellow-btn:active {
	letter-spacing: 1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}



.red-btn {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 250px;
	height: 250px;
	cursor: pointer;
	margin: 0 auto;
	border: 2px solid rgba(255, 0, 0, 1);
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font: normal 50px/250px "Advent Pro", Helvetica, sans-serif;
	color: rgba(255, 0, 0, 1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
		color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s
		cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0),
		border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s
		cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
}

.red-btn:hover {
	color: rgba(255, 255, 255, 1);
	letter-spacing: 10px;
	background: rgba(255, 0, 0, 1);
}

.red-btn:active {
	letter-spacing: 1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.green-btn {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 250px;
	height: 250px;
	cursor: pointer;
	margin: 0 auto;
	border: 2px solid rgba(0, 255, 25, 1);
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font: normal 50px/250px "Advent Pro", Helvetica, sans-serif;
	color: rgba(0, 255, 25, 1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
		color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s
		cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0),
		border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color
		0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s
		cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
		border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s
		cubic-bezier(0, 0, 0, 0);
}

.green-btn:hover {
	color: rgba(255, 255, 255, 1);
	letter-spacing: 10px;
	background: rgba(0, 255, 25, 1);
}

.green-btn:active {
	letter-spacing: 1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}


.input-name {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 150px;
	height: 42px;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	font: normal 20px/normal "Antic", Helvetica, sans-serif;
	color: rgba(140, 140, 140, 1);
	text-decoration: normal;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: rgba(40, 40, 40, 0.4);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input-name:hover {
	color: rgba(181, 181, 181, 1);
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.input-name:focus {
	width: 213px;
	cursor: default;
	padding: -13px 20px 0;
	color: rgba(255, 255, 255, 1);
	-webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	-o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.form-btn {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	-webkit-border-radius: 20px;
	font-size: 55px;
	padding: 40px 40px;
	font-family: 'inconsolata', monospace;
	color: #FF6347;
	border: 2px solid;
	border-color: white;
	background: rgba(0, 0, 0, 0);
	opacity: 0.9; 
}

.form-btn:hover {
	background: #FFFFFF;
}

.form-btn:active {
	margin: 6px 0 0;
	background: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059), 0 4px 10px 0
		rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
	box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059), 0 4px 10px 0
		rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
}

.form-btn:focus {
	background: rgba(255, 255, 255, 1);
}


.blue-button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 250px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(30,205,151);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 50px/50px "Advent Pro", Helvetica, sans-serif;
  color: rgb(30, 205, 151);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 8px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.blue-button:hover {
  color: rgba(255,255,255,1);
  letter-spacing: 16px;
  background: rgb(30, 205, 151);
}

.blue-button:active {
  border: 2px solid rgba(33,224,163,1);
  font: normal normal bold 50px/50px "Advent Pro", Helvetica, sans-serif;
  letter-spacing: 8px;
  background: rgba(33,224,163,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}